html {
  background-color: #8EC8A8;
  background-image: url(../img/accueil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
body {
  background-color: transparent;
  color:white;
  font-size: 1rem;
  text-align:center;
  padding-top: 2em;
  /*text-shadow: 1px 1px 0 rgba(100,100,100, 0.5); */
}

.container {
  margin: 1em auto; /*marges différentes des pages avec menu*/
  text-shadow: none;
  color:#878787;
}

#accueil-logo {
  margin: 30px 0 50px 0;
}


@media (min-width:951px){ /*Encran large : TODO breakpoint à déterminer en fonction du nombre d'item du menu*/

/* texte accueil sur la droite */
body {
  width: 70%;
  max-width: 1100px;
  float:right;
}
}
@media (max-width:950px) {

  html {
    background-image:none;
  }

  body {
    padding-top: 0;
  }

  .container {
    margin-top: 0;
    padding: 2rem;
  }

}
