/* Style de base */

/* Couleurs
#878787; gris foncé
#B0B0B0; gris clair
#EEEEEE; gris très clair
#E74255; rouge
#E7949E; rouge plus clair
#8EC8A8; vert amande
*/

/* border-box partout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Couleurs et polices par défaut */
body {
  color:#878787;
  background-color: #EEEEEE;
  font-family: 'Lato', sans-serif;
  text-align: center;
  transition: background-color 8s ease; /*transistions en cas de changement (ex. thème sombre)*/
}

/* Titres */
h1,h2,h3,h4,h5 {
  font-family: 'Poppins','Lato',  sans-serif;
}

/* Titres h2 avec lignes sur les côtés */

h2 {
  display: table;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1.5em; /*règlage de la hauteur des traits à droite et à gauche*/
}


h2::before, h2::after {
  border-top: 1px solid #878787;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.7em;
  width: 45%;
}


h2::before { right: 1.5%; }
h2::after { left: 1.5%; }

/* Pour agrandir des parties de titre avec <em> */
h2>em {
  font-size: 1.3em; /*30% plus grand que h2*/
  font-style: normal;
}


/* Liens */
a {
  color:#E74255;
  text-decoration: none;
}

a:visited {
  color: #E7949E;
}

a:hover {
  text-decoration: underline;
}

/* Paragraphes */
p {
  text-align: justify;
}

/* Sections */

.container { /* pour le contenu principal */
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 2rem;
}


header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index:1;
}

header ul {
  /*margin-left: -2em;*/
  list-style-type: none;
}

footer {
  font-size: 1rem;
  max-width:400px;
  margin: auto;
  text-align: center;
}

footer p {
  text-align: center;
}
