/* Menu */
#menu{
  list-style-type:none;
  text-align: center;
  /*font-size: 1.2rem;*/
  text-transform: uppercase;
  padding: 0;
}

#menu a {
  text-decoration: none;
  color:inherit;
  padding: 0.5em 0.2em 0.2em 0.2em;
  line-height: 2em;
}

#menu a:hover, #menu .actif {
  background-color: #B01419;
  color:white;
}


/* Mini Menu */
#minimenu {
  text-align: center;
}

#minimenu a, #minimenu a:visited{
  font-weight: bold;
  /*color:inherit;*/
}

/* sous-menu raccourcis */
.raccourcis {
  position: fixed;
  left:21%;
  top: 200px;
  background-color: white;
}

/* Actualités */
#listactu {
  text-align: left;
  list-style-type: none;
}

#listactu li {
  padding : 0.5em 0 0.5em 0;
}

#listactu p {
  display: inline;
  text-align: center;
}


/* Logos */
.logo {
  display:inline-block; /* pour encadrer */
  font-style: italic;
  font-weight:100;
  color:#878787;
  /*font size hérité de h1*/
  padding: 0.4em 0.7em 0.2em 0.7em;
  margin: 0.4em;
}

#logo_clair {
  border: 1px solid #878787;
}

#logo_red {
  border: 0;
  color: white;
  background-color: #B01419;
}

/* Boutons */
.btn {
  display: inline-block;
  border:1px solid #B01419;
  padding: 0.5em 0.8em 0.4em 0.8em;
  margin: 1em;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.btn-red, .btn-white:hover{
  background-color: #B01419;
  color: white;
}

.btn-white, .btn-red:hover{
  background-color: white;
  color:#B01419;
}

/* si les boutons sont des liens */
a.btn {
    text-decoration: none;
}

a:active.btn {
  box-shadow: 0 0 0 0; /*Supprime l'ombre lors du clic (enfoncement)*/
}

a.btn-red, a:visited.btn-red {
  color:white;
}

a.btn-white, a.btn-red:hover{
  background-color: white;
  color:#B01419;
}

#btn_menu { /*bouton menu smartphone*/
  display: none;
  float: right;
  padding: 0.4em 0.7em 0.2em 0.7em;
  margin: 0.4em;
}

/* Formulaire */
fieldset {
  border-style: none;
}

input, textarea {
  width: 50%;
  min-width: 300px;
}

/* Désactive le scroll sur la carte*/
.mapoverlay {
   background:transparent;
   position:relative;
   width:700px;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

/*Icone metro*/
.icon{
float:left;
height:30px;
position: relative;
top:-7px;
margin-right: 5px;
}

/* Gallery */

.gallery {
  overflow: auto;
}

.gallery>a {
  display: block;
  width: 16.667%;
  float:left;
  padding: 0 5px 0 5px;
  margin-top:20px;
}

.gallery>a>img {
  width:100%;
  border: 1px solid transparent;
}

.gallery>a>img:hover {
  border: 1px solid white;
}

@media (max-width:950px) {
  .gallery>a {
  width: 20%;
}
}

@media (max-width:600px) {
  .gallery>a {
  width: 33.33%;
}
}

@media (max-width:400px) {
  .gallery>a {
  width: 50%;
}
}
