<header>

    <div id="lyonvill">— Lyon - Villeurbanne —</div>
    <a href="/"><h1 class="logo" id="logo_clair">La Cerise sur le Tango</h1></a>
    <!--<div class="lcst_logo" id="logo_red">La Cerise sur le Tango</div>-->
    <a id="btn_menu" class="btn" href="javascript:void(0);" onclick="menuHandler()">☰</a>

  <nav>
    <ul id="menu" class="">
      <li><a href="/" {% if page.url == '/'%} class="actif" {% endif %}>L'association</a></li>
      <li><a href="">Les cours</a></li>
      <li><a href="">L'actualité</a></li>
      <li><a href="">Photos &amp Vidéos</a></li>
      <li><a href="">Le tango Argentin</a></li>
    </ul>
  </nav>
</header>
