<header>

    <!--<div id="lyonvill">— Lyon - Villeurbanne —</div>
    <a href="/"><h1 class="logo" id="logo_clair">La Cerise sur le Tango</h1></a>
  -->
    <!--<div class="lcst_logo" id="logo_red">La Cerise sur le Tango</div>-->
    <a href="/">
    	<img src="img/logo_transp.png" alt="La Cerise sur le Tango" width="200px">
    </a>

    <a id="btn_menu" class="btn" href="javascript:void(0);" onclick="menuHandler()">☰</a>

  <nav>
    <ul id="menu" class="">
      <li><a href="/association.html" {% if page.url == '/association.html'%} class="actif" {% endif %}>L'association</a></li>
      <li><a href="/cours.html"  {% if page.url == '/cours.html'%} class="actif" {% endif %}>Les cours</a></li>
      <li><a href="/actualite.html"  {% if page.url == '/actualite.html'%} class="actif" {% endif %}>L'actualité</a></li>
      <li><a href="/photos-videos.html"  {% if page.url == '/photos-videos.html'%} class="actif" {% endif %}>Photos &amp; Vidéos</a></li>
      <li><a href="/le-tango-argentin.html"  {% if page.url == '/le-tango-argentin.html'%} class="actif" {% endif %}>Le tango Argentin</a></li>
      <li><a href="/contact.html"  {% if page.url == '/contact.html'%} class="actif" {% endif %}>Contact</a></li>
    </ul>
  </nav>
</header>
