<div class="sm-hidden" style="-webkit-filter: grayscale(100%);
filter: grayscale(100%);">
<div class="mapoverlay" onClick="style.pointerEvents='none'"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2778.5268425643044!2d4.828973975543564!3d45.86076817108324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f49438ef1f1889%3A0x4d7fa5ea7076846e!2sMaison%20des%20Associations!5e0!3m2!1sfr!2sfr!4v1719923359869!5m2!1sfr!2sfr" width="700" height="400" frameborder="0" style="border:0" allowfullscreen scrollwheel="0"></iframe>
</div>

<div class=""><a href="https://maps.app.goo.gl/m2zWm4CU47KKK3RH6" class="btn btn-red" target="_blank">Voir dans Google Map</a>
</div>
