
<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="center">Tarif plein</th>
<th align="center">Tarif réduit *</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Abonnement à l'année</td>
<td align="center">250</td>
<td align="center">210</td>
</tr>
<tr class="even">
<td align="left">Carte de 10 cours</td>
<td align="center">150</td>
<td align="center">120</td>
</tr>
<tr class="odd">
<td align="left">Cours à l'unité</td>
<td align="center">20</td>
<td align="center">15</td>
</tr>
</tbody>
</table>
