
<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="center">Tarif plein</th>
<th align="center">Tarif réduit *</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Abonnement à l'année</td>
<td align="center">à venir</td>
<td align="center">à venir</td>
</tr>
<tr class="even">
<td align="left">Abonnement au trimestre</td>
<td align="center">à venir</td>
<td align="center">à venir</td>
</tr>
<tr class="odd">
<td align="left">Carte de 10 cours flexibilité (valable toute l'année)</td>
<td align="center">à venir</td>
<td align="center">à venir</td>
</tr>
</tbody>
</table>
