
<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="center">Tarif plein</th>
<th align="center">Tarif réduit *</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Abonnement à l'année</td>
<td align="center">340 €</td>
<td align="center">210 €</td>
</tr>
<tr class="even">
<td align="left">Carte de 10 cours découverte (valable pendant 12 semaines)</td>
<td align="center">140 €</td>
<td align="center">90 €</td>
</tr>
<tr class="odd">
<td align="left">Carte de 10 cours flexibilité (valable toute l'année)</td>
<td align="center">200 €</td>
<td align="center">130 €</td>
</tr>
</tbody>
</table>
