<!DOCTYPE html>
<html lang=fr>

  {% include head.html %}

  <body>


    <div class="container">
    <div id="accueil-logo">
    	<img src="img/logo_transp.png" alt="La Cerise sur le Tango">
    </div>


      {{ content }}
    </div>

    <p id="minimenu">
      <a href="/association.html">L'association</a> — <a href="/cours.html">Les cours</a>  — <a href="/actualite.html">L'actualité</a> — <a href="/photos-videos.html">Photos &amp; Vidéos</a> — <a href="/le-tango-argentin.html">Le tango argentin</a> — <a href="/contact.html">Contact</a>
    </p>
    {% include footer.html %}

  </body>

</html>
